@import url(http://fonts.googleapis.com/css?family=Oswald|Roboto);
/* Mixims con parámetros */
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  color: white;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #08a677;
}
p {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 4.236em;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 2.618em;
  letter-spacing: 0.15em;
}
h3 {
  font-size: 1.618em;
  letter-spacing: 0.3em;
}
p.nbsp {
  height: 0px;
  width: 0px;
}
/* Fin de los estilos generales */
/* Estilos paralaje */
/* background setup */
.background {
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50%\9 !important;
}
/* fullscreen setup */
html,
body {
  /* give this to all tags from html to .fullscreen */
  height: 100%;
}
.fullscreen,
.content-a {
  width: 100%;
  min-height: 100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
  height: 100%;
  overflow: hidden;
}
/* content centering styles */
.content-a {
  display: table;
}
.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.not-fullscreen {
  height: 50%;
}
/* Fin de los estilos del paralaje */
/* Imágenes paralaje */
body div#primerFondo,
body div#segundoFondo,
body div#tercerFondo {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
body div#segundoFondo,
body div#tercerFondo {
  position: relative;
  z-index: 9999;
}
body div#primerFondo {
  background-image: url('../img/background_01.jpg');
}
body div#segundoFondo {
  background-image: url('../img/background_02.jpg');
}
body div#tercerFondo {
  background-image: url('../img/background_03.jpg');
}
/* Fin de los estilos de imagenes paralaje */
div.content-a div#logoOpenRoad {
  background: url('../img/sprite_openroad.png') 0px 0px no-repeat;
  width: 400px;
  height: 124px;
  display: block;
  margin: 20px auto;
}
/* Inicio de los estilos del menú */
.top-bar {
  border-bottom: 2px solid white;
  text-align: center;
}
.top-bar,
.top-bar.expanded .title-area,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}
nav > div > ul > li {
  margin: 0 50px;
}
.top-bar-section {
  display: inline-block;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  color: #981235;
  background: none;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  color: #11749a;
  background: none;
}
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section li:not(.has-form) a:not(.button):hover {
  color: #08a677;
  background: none;
  background-color: none;
}
nav > div > ul > li.active {
  color: #981235;
}
/* Fin de los estilos del menú */
#inicio > div > div:nth-child(3) > div > div {
  margin-top: 50px;
}
div#textoIzq h1,
p#parrafoSup,
p#parrafoInf {
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
div#textoIzq h1 {
  color: #981235;
  font-weight: bold;
  margin-top: 0px;
}
p#parrafoSup {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  color: #08a677;
  margin-bottom: 5px;
  padding-top: 10px;
}
p#parrafoInf {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: bold;
}
p#parrafoInf span {
  font-size: 1.9em;
  line-height: 1em;
}
@-webkit-keyframes flechasAnimadas {
  0% {
    color: #fff;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #08a677;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes flechasAnimadas {
  0% {
    color: #fff;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #08a677;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
@-ms-keyframes flechasAnimadas {
  0% {
    color: #fff;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #08a677;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
@keyframes flechasAnimadas {
  0% {
    color: #fff;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #08a677;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
#scroll > div > div > ul > li {
  display: block;
  height: 10px;
}
#scroll > div > div > ul:nth-child(1) > li {
  -webkit-animation: flechasAnimadas 8s infinite;
  -moz-animation: flechasAnimadas 8s infinite;
  -ms-animation: flechasAnimadas 8s infinite;
  animation: flechasAnimadas 8s infinite;
}
#scroll > div > div > ul,
#scroll > div ul#iconosSociales {
  margin-left: 0px;
}
#scroll > div ul#iconosSociales > li {
  display: inline;
  margin: 10px;
}
div.relleno {
  position: relative;
  width: 33.33333%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
div#rellenoIzq {
  background-color: #981235;
  height: 303px;
}
div.tituloSeccion {
  margin: 40px 0;
}
p#parrafoTituloSeccion {
  width: 200%;
  position: absolute;
  left: -170px;
  color: black;
}
div#datosContacto p a,
p#parrafoTituloSeccion a {
  color: #11749a;
}
div#datosContacto p a:hover,
p#parrafoTituloSeccion a:hover {
  color: #08a677;
}
#servicios > div > div:nth-child(2) > div > div > h2,
#contacto > div > div:nth-child(1) > div > div > h2 {
  color: #981235;
}
#servicios {
  height: 1080px;
}
#servicios > div > div:nth-child(3),
#servicios > div > div:nth-child(3) > div:nth-child(3) > div {
  height: 333px;
  /* Ajuste para la altura de las columnas de serviciosWeb OJO!!!*/
}
div.serviciosWeb i {
  margin: 20px;
}
div.serviciosWeb h3 {
  color: white;
}
div.serviciosWeb:nth-child(1) > div > div {
  background-color: #981235;
  border-radius: 0 0 0 20px;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
div.serviciosWeb:nth-child(1) > div > div ul li:nth-child(1) {
  background-color: #6a0d25;
}
div.serviciosWeb:nth-child(2) > div > div {
  background-color: #11749a;
  position: absolute;
  margin-left: 333px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
div.serviciosWeb:nth-child(2) > div > div ul li:nth-child(1) {
  background-color: #0c516c;
}
div.serviciosWeb:nth-child(2) > div > div a {
  color: #08a677;
}
div.serviciosWeb:nth-child(2) > div > div a:hover {
  color: #981235;
}
div.serviciosWeb:nth-child(3) > div > div {
  background-color: #08a677;
  border-radius: 0 20px 0 0;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
div.serviciosWeb:nth-child(3) > div > div ul li:nth-child(1) {
  background-color: #067554;
}
div#rellenoDer {
  background-color: #08a677;
  height: 303px;
  top: 140px;
  float: right;
}
/* Inicio de los estilos sección de proyectos */
div#proyectos {
  background: #ffffff url("../img/textura_corcho.jpg") repeat;
}
div#proyectos > div:nth-child(1) > div > div > div > h2 {
  color: #11749a;
}
div#proyectos > div:nth-child(1) > div > div > div > p {
  color: black;
}
/* Estilos pestañas galería de proyectos */
.tabs .tab-title > a {
  width: 50px;
  height: 50px;
  background: transparent url("../img/sprite_openroad.png") -150px -125px no-repeat;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 14px;
  font-weight: bold;
}
.tabs .tab-title > a:hover {
  background: transparent url("../img/sprite_openroad.png") -250px -125px no-repeat;
}
.tabs .tab-title.active a {
  background: transparent url('../img/sprite_openroad.png') -200px -125px no-repeat;
}
/* Fin de los estilos de las pestañas de proyectos */
div#nuestrosProyectos div.imagenWrap {
  position: relative;
}
div#nuestrosProyectos div.imagenWrap > div {
  position: absolute;
  background: transparent url("../img/sprite_openroad.png") -250px -125px no-repeat;
  height: 50px;
  width: 50px;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  display: block;
  z-index: 9999;
}
div#nuestrosProyectos img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
div#nuestrosProyectos h3 {
  text-align: center;
  color: #08a677;
}
div#nuestrosProyectos div.proyectosDescripcion {
  margin-top: 20px;
  padding: 10px;
  background: #981235 url("../img/textura_carton.jpg") repeat;
  border: 2px solid #8b0f2f;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
div#nuestrosProyectos div.proyectosDescripcion > div {
  display: block;
  background: transparent url("../img/sprite_openroad.png") -150px -125px no-repeat;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* Estilos para aplicar la transformación aleatoriamente con jQuery */
.transformacionEstilo0 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.transformacionEstilo1 {
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg);
}
.transformacionEstilo2 {
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}
.transformacionEstilo3 {
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}
.transformacionEstilo4 {
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
}
.transformacionEstilo5 {
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.transformacionEstilo6 {
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.transformacionEstilo7 {
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.transformacionEstilo8 {
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* Inicio de los estilos de la sección contacto */
div#contacto {
  background: transparent url('../img/fondo_contacto.png') top center no-repeat;
}
div#contacto > div:nth-child(1) > div:nth-child(1) > div > div > p {
  color: black;
}
div#contacto div#googleMap {
  width: 100%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
div#contacto > div > div:nth-child(3) {
  margin-top: 20px;
}
form input[type="text"],
form input[type="email"],
form textarea {
  border-color: #11749a;
}
form input.button {
  background-color: #11749a;
  border-color: #072f3e;
  text-transform: uppercase;
}
form input.button:active,
form input.button:hover {
  background-color: #08a677;
  border-color: #034531;
}
form .error {
  background-color: #e62a5b;
  color: white;
  padding-left: 5px;
}
div#datosContacto div.panel.callout.radius {
  border-color: #11749a;
  background-color: transparent;
}
div#datosContacto h3 {
  font-size: 135%;
  color: #981235;
}
div#datosContacto p {
  color: black;
}
div#datosContacto p#telefono {
  margin-bottom: 0;
}
/* Estilos del pie de página */
div#pie > div > div > p > a {
  margin-top: 20px;
  color: #981235;
}
div#pie > div > div > p > a:hover {
  color: #08a677;
}
div#pie > div > div > p {
  color: black;
  margin: 0px;
}
div#pie div p#copyright {
  margin-top: 20px;
}
/* Inicio de las media queries */
/*
Puntos de ruptura:

26.25em     -->     320px
40em        -->     640px
60em        -->    1024px
120.063em   -->    1920.008px

*/
@media only screen and (max-width: 26.25em) {
  div.content-a div#logoOpenRoad {
    background: url('../img/sprite_openroad.png') 0px -125px no-repeat;
    width: 150px;
    height: 100px;
  }
  .top-bar {
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
  }
  .top-bar-section {
    display: inline;
  }
  nav > div > ul > li {
    margin: 0;
  }
  div#textoIzq h1 {
    font-size: 225%;
  }
  p#parrafoSup {
    font-size: 200%;
  }
  p#parrafoInf {
    font-size: 160%;
  }
  p#parrafoInf span {
    font-size: 130%;
  }
  p#parrafoTituloSeccion {
    width: 100%;
    position: static;
  }
  #servicios > div > div:nth-child(3),
  #servicios > div > div:nth-child(3) > div:nth-child(3) > div {
    height: auto;
  }
  div.serviciosWeb:nth-child(1) > div > div,
  div.serviciosWeb:nth-child(2) > div > div,
  div.serviciosWeb:nth-child(3) > div > div {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    position: static;
  }
  div.serviciosWeb:nth-child(2) > div > div {
    margin-left: auto;
  }
  div#contacto {
    background: none;
  }
}
@media screen and (min-width: 26.3125em) and (max-width: 40em) {
  div.content-a div#logoOpenRoad {
    background: url('../img/sprite_openroad.png') 0px -125px no-repeat;
    width: 150px;
    height: 100px;
  }
  .top-bar {
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
  }
  .top-bar-section {
    display: inline;
  }
  nav > div > ul > li {
    margin: 0;
  }
  div#textoIzq h1 {
    font-size: 340%;
    letter-spacing: normal;
  }
  p#parrafoSup {
    font-size: 250%;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  p#parrafoInf {
    font-size: 200%;
  }
  p#parrafoInf span {
    font-size: 160%;
  }
  p#parrafoTituloSeccion {
    width: 100%;
    position: static;
  }
  #servicios > div > div:nth-child(3),
  #servicios > div > div:nth-child(3) > div:nth-child(3) > div {
    height: auto;
  }
  div.serviciosWeb:nth-child(1) > div > div,
  div.serviciosWeb:nth-child(2) > div > div,
  div.serviciosWeb:nth-child(3) > div > div {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    position: static;
  }
  div.serviciosWeb:nth-child(2) > div > div {
    margin-left: auto;
  }
  div#contacto {
    background: none;
  }
}
@media screen and (min-width: 40.063em) and (max-width: 64em) {
  nav > div > ul > li {
    margin: 0 8px;
  }
  div#textoIzq h1 {
    font-size: 335%;
  }
  p#parrafoSup {
    font-size: 260%;
    margin-bottom: 20px;
  }
  p#parrafoInf {
    font-size: 180%;
  }
  p#parrafoInf span {
    font-size: 150%;
  }
  p#parrafoTituloSeccion {
    width: 100%;
    position: static;
  }
  #servicios > div > div:nth-child(3),
  #servicios > div > div:nth-child(3) > div:nth-child(3) > div {
    height: auto;
  }
  div.serviciosWeb:nth-child(1) > div > div,
  div.serviciosWeb:nth-child(2) > div > div,
  div.serviciosWeb:nth-child(3) > div > div {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    position: static;
  }
  div.serviciosWeb:nth-child(2) > div > div {
    margin-left: auto;
  }
  div#contacto {
    background: none;
  }
}
@media only screen and (min-width: 120.063em) {
  div#rellenoDer {
    height: 565px;
  }
}
