/* Hoja de estilos CSS */

/*
-Colores:
Azul: 11749a
Rojo: 981235
Verde: 08a677

*/

@import url(http://fonts.googleapis.com/css?family=Oswald|Roboto);
/* Estilos generales */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body,input,textarea {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #08a677;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 4.236em;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 2.618em;
    letter-spacing: 0.15em;
}

h3 {
    font-size: 1.618em;
    letter-spacing: 0.3em;
}

p.nbsp {
    height: 0px;
    width: 0px;
}
/* Fin de los estilos generales */
/* Imágenes paralaje */

body div#primerFondo {
    background-image: url('../img/background-01.jpg');
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

body div#segundoFondo {
    background-image: url('../img/background-02.jpg');
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

body div#tercerFondo {
    background-image: url('../img/background-03.jpg');
}
/* Fin de los estilos de imagenes paralaje */
div.relleno {
    width: 33.33333333333%;
    height: 360px;
}

div#rellenoIzq {
    background-color: #981235;
}

div.serviciosWeb i {
    margin: 20px;
}

div.serviciosWeb:nth-child(1) > div > div {
    background-color: #981235;
}

div.serviciosWeb:nth-child(2) > div > div {
    background-color: #11749a;
}

div.serviciosWeb:nth-child(3) > div > div {
    background-color: #08a677;
}

div#rellenoDer {
    background-color: #08a677;
}

div#proyectos {
    background-color: #11749a;
}
/* Ajuste para la altura de las columnas de serviciosWeb OJO!!!*/
#servicios > div > div:nth-child(3),
#servicios > div > div:nth-child(3) > div:nth-child(3) > div {
    height: 333px;
}

div#contacto div#googleMap {
    width: 96%;
    height: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    width: 90%;
    height: 300px;
}*/